@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #efefef;
  font-family: "Poppins", sans-serif;
}
nav {
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  overflow: hidden;
}
nav p {
  color: #0594ec;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}
.burger {
  border: 0;
  background-color: transparent;
  text-decoration-color: #0594ec;
  display: none;
  font-size: 20px;
}
.burger:focus {
  outline: none;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  color: #2c405e;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  background: #2c405e;
  position: absolute;
  left: 0;
  bottom: -18px;
  height: 2px;
  width: 100%;
  opacity: 0;
  transition: transform 0.2s ease;
}

nav ul li a:hover::after {
  opacity: 1;
  transform: translateY(-15px);
}

@media (max-width: 480px) {
  nav ul {
    background: white;
    position: fixed;
    top: 80px;
    left: 10%;
    flex-direction: column;
    width: 80%;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transform: translateX(120%);
    transition: transform 0.4s ease;
  }
  nav ul.show {
    transform: translateX(0);
  }
  nav ul li {
    margin: 15px;
  }
  .burger {
    display: block;
  }
} ;
